*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: #EBF4EC;
	color: rgba(0,0,0,0.85);
	position: relative;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	background-color: white;
	display: block;
	position: relative;
	
}

p {
	display: block;
}

#promo1 {
	background-color: black;
	color: white;
	font-family: Helevetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.menu-banner-logo {
	background-color: white;
	font-size: 16px;
	text-decoration: none;
	top: 30px;
	width: 100%;
	float: left;
	position: relative;
}

nav a {
	position: relative;
	clear: both;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

#logo {
	position: absolute;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

#menuright {
	float: right;
	display:inline-block;
}

section#intro {
	background: url(../images/kkw3.jpg) no-repeat 0, url(../images/bottles.jpg) no-repeat 0, 100%;
	background-size: contain;
	background-color: #BFACAD;
	height: 75vh;
	position: relative;
}

#top-cta {
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 48px;
	position: absolute;
}

.wrapper {
	width: 1200px;
}

.example {
	width: calc(50% - 3px);
	display: inline-block;
}

.example img {
	width: 50%;
	float: left;
}


footer {
	color: rgba(0,0,0,0.85);
	font-size: 16px;
	font-weight: bold; 
	font-family: Helevetica, Arial;
	text-transform: lowercase;
	text-decoration: none;
	padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #909196;
    text-align: center;
    clear: both;
}